h1, h2, h3 {
   font-family: Helvetica, sans-serif;
}

p, ul, ol, li, th, tr, td, label {
   font-family: Roboto, sans-serif;
}

.infobox {
  font-family: Arial, sans-serif;
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  border-collapse: collapse;
  width: 300px;
  font-size: 90%;
  line-height: 1.5em;
}

.infobox caption {
  font-weight: bold;
  font-size: 1.1em;
  background-color: #dbe2e8;
  border: 1px solid #a2a9b1;
  border-bottom: none;
  padding: 0.4em;
  text-align: center;
}

.infobox th,
.infobox td {
  border: 1px solid #a2a9b1;
  padding: 4px 6px;
  vertical-align: top;
}

.infobox th {
  background-color: #eaecf0;
  text-align: left;
  font-weight: bold;
  width: 40%;
}

.infobox td {
  background-color: #ffffff;
}

.infobox tr:nth-child(even) td {
  background-color: #f8f9fa;
}

.infobox img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.infobox .title {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #dbe2e8;
  padding: 6px;
}

.comic_body {
	background-color: lightblue;
	padding-left: 100px;
	padding-right: 100px;
}


form {
border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

/* Set a style for all buttons */
button {
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

.bluebutton {
  background-color: rgb(0, 119, 255);
}

.greenbutton {
  background-color: #04AA6D;
}

.yellowbutton {
  background-color: yellow;
  color: black;
}

/* Add a hover effect for buttons */
button:hover {
opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
width: auto;
padding: 10px 18px;
background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
width: 20%;
border-radius: 50%;
}

/* Add padding to containers */
.container {
padding: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
    display: block;
    float: none;
}
.cancelbtn {
    width: 100%;
}
}